cmake-build-*/
build/
.idea/
.DS_Store
CmakeUserPresets.json
pyvenv.cfg
.clangd/

# Conan and conan-cmake create some files in-tree by design
conan.lock
conanbuildinfo.*
conaninfo.txt
graph_info.json
conan/
cmake/conan_provider.cmake
