[submodule "trusttunnel-qt"]
	path = trusttunnel-qt
	url = https://github.com/pnsrc/firetunnel
	branch = main
[submodule "trusttunnel-core"]
	path = trusttunnel-core
	url = https://github.com/pnsrc/trusttunnel-core
	branch = main
