services:
  trusttunnel-debug:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace
      - conan-cache:/root/.conan2
    ports:
      - "12345:12345"
      - "12346-12350:12346-12350"
    cap_add:
      - NET_ADMIN
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    privileged: true

volumes:
  # Map conan cache to a named volume to persist it between container restarts.
  # Run `docker-compose down -v` to remove the volume.
  conan-cache:
